<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.journey13.exchainge">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="31" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exchainge">
        <activity
            android:name="com.journey13.exchainge.PreKeyRegisterAndTransmit"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.journey13.exchainge.settingsChangeNotifications"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.journey13.exchainge.newContactsSearch"
            android:exported="false" />
        <activity
            android:name="com.journey13.exchainge.blockedUsers"
            android:exported="false" />
        <activity
            android:name="com.journey13.exchainge.settingsChangePrivacy"
            android:exported="false" />
        <activity
            android:name="com.journey13.exchainge.settingsChangeTagline"
            android:exported="true" />
        <activity
            android:name="com.journey13.exchainge.settingsChangeUsername"
            android:exported="true" />
        <activity
            android:name="com.journey13.exchainge.ResetPasswordActivity"
            android:exported="false"
            android:parentActivityName="com.journey13.exchainge.login" />
        <activity
            android:name="com.journey13.exchainge.MessageActivity"
            android:exported="false" />
        <activity
            android:name="com.journey13.exchainge.signup"
            android:exported="true" />
        <activity
            android:name="com.journey13.exchainge.login"
            android:exported="true" />
        <activity
            android:name="com.journey13.exchainge.init_landing"
            android:exported="true" />
        <activity
            android:name="com.journey13.exchainge.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.journey13.exchainge.Notifications.FirebaseIDService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.journey13.exchainge.Notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="android.support.VERSION"
            android:value="26.0.2"
            tools:replace="android:value" />
    </application>

</manifest>